@font-face {
    font-family: 'Oswald';
    src: url("/assets/fonts/Oswald-Bold.ttf") format("ttf"),
         url("/assets/fonts/Oswald-Regular.ttf") format("ttf"),
         url("/assets/fonts/Oswald-ExtraLight.ttf") format("ttf"),
         url("/assets/fonts/Oswald-Light.ttf") format("ttf"),
         url("/assets/fonts/Oswald-Medium.ttf") format("ttf"),
         url("/assets/fonts/Oswald-Regular.ttf") format("ttf"),
         url("/assets/fonts/Oswald-SemiBold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  font-family: 'Oswald', sans-serif;
}